* {
  margin:0;
  padding:0;
  font-size:16px;
}
body { 
  background:#fff;
  font-size:1;
  line-height:1;
  font-family: 'Crete Round', serif;
  color: #333;
}
section .in {
  max-width:75%;
  margin:0px auto 0px;
  padding:25px 20px;   
  overflow:auto;
}
section#head {
}
section#head .in {
  padding-bottom:0;
  padding-top:40px;
  position:relative;
  overflow:hidden;
}
section#paper { 
  background:#ffa;
}
section#export {
  background:#eee;
}
.blurb {
  padding-top:10px;
  width:45%; 
  min-width:350px;
  float:left;
}
#signup {
  background:transparent url(../img/streetscape_blur-01.jpg) no-repeat left top;
  width:40%;
  float:right;
  margin-top:10px;
  height:350px;
  padding:2%;
  color:#ffa;
}

#process {
  background:#000;
  color:#ffa;
}
#process a {
  color:#5adbff;
  border-color:#5adbff;
}
#process h3+h2 {
  margin-top:2em;
  margin-bottom:2em;
}
  h2, h3 {
  font-size:3em;
  font-weight:normal;
}
h1 {
    font-size:5em;
    color: #3f5c88;
    padding-bottom:30px;
}
#mast h1, #mast h2, #mast h3 {
  width:75%;
  min-width:350px;
  text-align:left;
}
#mast h3 {
  margin-top:1em;
}
#head h1 { 
  margin-top:3em;
  float:left;
  width:50%;
}
h2, h3 {
  width: 75%;
  margin:0 0 .5em 0;
}
h2 {
  font-size:2em;
}
h3 {
  font-size:1.5em;
}
a {
  color:#3f5c88;
  text-decoration:none;
  border-bottom:1px dotted #3f5c88;
}

hr {
  border:0;
  border-bottom:1px dotted #aaa;
  margin:20px 0;
}
nav {
  background:#eee;
  overflow:auto;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  font-weight:normal;
}
nav ul, nav li {
  list-style:none;
  text-indent:0;
}
nav ul {
  overlow:auto;
  text-align:center;
  max-width:960px;
  margin:0px;
  
}
nav li {
  display:inline;
}
nav a {
  padding:20px 20px;
  border:0;
}

section p {
  margin-bottom:1em;
  line-height:1.4;
}
section ul {
  margin-bottom:10px;
}
section li {
  margin:0px 0px 10px 10px;
}

.navigation-list {
    overflow: hidden;
}

.navigation-item {
    display: block;
    float: left;
    margin: 5px 20px 5px 0;
    text-align: left;
}

.navigation-link {
    display: block;
    padding: 0 10px 0 0;
}